# Dependencies
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnpm-debug.log

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build files
.vercel
.next
out/
dist/
build/

# Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db 